*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(203, 103, 103);
    /* background: linear-gradient(105.54deg, #F4A764 -2.93%, #FFDEC2 72.14%);
    background: linear-gradient(105.54deg, #ADB0B0 -2.93%, #E1E1E1 72.14%);
    background: linear-gradient(105.54deg, #30A357 -2.93%, #75E39A 72.14%);
    background: linear-gradient(105.54deg, #F24F4F -2.93%, #FFA895 72.14%); */


}

.socials{
    display: flex;
    align-items: center;
    height: 60px;
    min-width: 240px;
    margin-left: 54px;
    margin-top: 30px;
    justify-content: space-between;
    border-radius: 15px;
    width: fit-content;
}

.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 52px;
    min-height: 52px;
    padding: 9px;
    border: 2px solid white;
    border-radius: 50%;
}

.splide__list{
    width: 300px;
    height:400px;
    /* padding: 0.25px 0px 0.25px 0px; */
}

.header{
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins';
    margin: 54px;
}

.logo{
    width: 100px;
    height: 51px;
}

.nav{
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;

}

.navList{
    display: flex;
    gap: 80px;

}

.auth{
    /* align-self: center; */
    text-align: center;
    background-color: #1C1415;
    width: 150px;
    height: 51px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins";
    padding: 14px 38px 14px 38px;
    border-radius: 50px;
    line-height: 20px;   

}
.fade-in {
      opacity: 0;
      animation: fadeInAnimation 0.8s forwards;
    }

    @keyframes fadeInAnimation {
      to {
        opacity: 1;
      }
    }

.product-description{
    margin-left: 54px;
    width: 550px;
}

.title{
    width: 645px;
    height: 104px;
    color: #FFFFFF;
    font-family: "Sofia Sans";
    font-size: 65px;
    font-weight: 700;
    line-height: 104.12px;
    letter-spacing: -0.01em;
    text-align: left;
}

.section-1 , .section-2{
    display: inline-block;
    font-family: "Sofia Sans";
    font-size: 40px;
    font-weight: 800;
    line-height: 60.06px;
    letter-spacing: -0.01em;
    text-align: left;
}
.section-1{
    color: #FFFFFF;
    margin-right: 5px;
}

.description{
    margin-top: 50px;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;

}

.content{
    display: flex;
}

.splide{
    margin-left: 80px;
}

.watch img{  
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.price{
    /* height: fit-content; */
    font-family: "Poppins";
    font-size: 60px;
    font-weight: 650;
    line-height: 95.9px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #FFFFFF;


}

.splide__pagination{
    display: none;
}
.splide__arrow{
    background-color: transparent;
}




@media (max-width: 600px) {
  /* Your CSS rules for mobile phones */

  body{
    width: 100vh;
  }
  .product-description{
    /* margin-top: 10px; */
    margin-left: 35px;
    
  }
  .description{
    width: 50%;
    margin-top: 2px;
  }
 
  .content{
    flex-direction: column;
    /* margin-top: 50px; */
    margin-left: 10px;
  }

  .header{
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .nav{
    /* flex-direction: column; */
    gap: 20px;
    text-align: left;
  }

  .navList{
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .auth{
    margin-top: 7px;
    display: block;
    position: absolute;
    top: 565px;
    left: 120px;
    /* height: 40px; */
  }

  .section-1 , .section-2{
    font-size: 20px;
    margin-top: 2pxpx;
  }


  .price{
    font-size: 20px;
  }


  .title{
    font-size: 30px;
  }

  .splide{
    margin-left: 10px !important;
    /* width: 80%; */
  }


 .prev{
    height: 50px;
 }

 .next{
    /* top: 800px;
    /* left: 10px; */
    /* position: absolute;  */
    margin-left: 10px;
    height: 50px;
 }


}